.image1 {
    text-align: center;
  }
  .image1:hover{
    background-color: yellow;
  }

  .image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .image3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }